.whatsapp-float {
    position: fixed;
    bottom: 100px; /* Posición inicial */
    right: 29px;
    width: 55px;
    height: 55px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-decoration: none;
    transition: bottom 0.3s ease; /* Animación suave para la posición */
  }

  .whatsapp-float i {
    font-size: 24px;
  }

  .whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 768px) {
    .whatsapp-float {
      bottom: 90px; /* Ajuste para pantallas pequeñas */
      width: 54px;
      right: 29px;
      height: 54px;
    }

    .whatsapp-float i {
      font-size: 20px;
    }
  }